section{
  padding-top: 50px;
    table{
       tbody{
          tr{
            td{
            
              p{
                padding: 50px 0px 50px 0px;
                color: #000;
                i{
                  font-size: 20px;
                  color: red;
                }
              }
                img{
                    width: 200px;
                }
                
            }
          }
       }
    }
    .clear__btn{
      background-color: paleturquoise;
      border: none;
      outline: none;
      padding: 10px  30px;
      font-weight: 500;
      border-radius: 30px;  
      transition: .3s ease;
      margin: 20px 0px 20px 0px;
      border: 1px solid  paleturquoise;
      cursor: pointer;
      &:hover{
       background: transparent;
      }
    }
}
