section{
  padding-top: 50px;
    table{
       tbody{
          tr{
            td{
            
              p{
                padding: 50px 0px 50px 0px;
                color: #000;
                i{
                  font-size: 20px;
                  color: red;
                }
              }
                img{
                    width: 200px;
                }
                
            }
          }
       }
    }
}
