.filter__widget select {
    margin-top: 20px;
    padding: 10px 20px;
    border: 1px solid var(--primary-color);
    cursor: pointer;
    border-radius: 5px;
    background: var(--primary-color);
    color: white;
}




.search__box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    padding-right: 12px;
    border: 1px solid var(--primary-color);
    padding-left: 2px;
    margin-top: 20px;
    cursor: pointer;
    input {
        width: 100%;
        border: none;
        outline: none;
        padding: 8px 10px;
    }
    span {
        color: var(--primary-color);
    }
    
}




@media only screen and (max-width:768px) {
    .filter__widget {
        margin-bottom: 30px;
    }
    .filter__widget select{
       padding: 7px 20px;
       font-size: 0.9rem ;
    }
}